{
  "openapi": "3.1.0",
  "info": {
    "title": "olivia-public-api-docs (reconstructed digest)",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.paradox.ai/api/v1/public"
    }
  ],
  "_note": "Reconstructed by concatenating per-operation OpenAPI 3.1 fragments served verbatim by readme.paradox.ai/reference/*.md (ReadMe.io docs platform). Each fragment is a real, machine-served OpenAPI document scoped to one operation; this file merges all 53 recovered operations into one document for readability. Not a single consolidated spec file served by Paradox itself -- no such single file was found.",
  "_redactions": [
    "One documented example response (Create Report -> Get Single Report url field) contained a real-shaped AWS presigned-S3-URL example with an AKIA... access-key-id and an X-Amz-Signature, sourced verbatim from Paradox's own published docs (dated 2021-03-22, an expired stg-environment example). Redacted to <REDACTED:AWS_KEY_ID> / <REDACTED:SIG> per ingestion.md \u00a77 rule 3 regardless of the credential's age/liveness."
  ],
  "paths": {
    "/user_permission/add_location_permission": {
      "put": {
        "summary": "Add Location Permission",
        "description": "Add a location permission to a user",
        "operationId": "add-location-permission",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <oauth_token>"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "location_id",
                  "group_ids"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "Encrypted user id or employee id"
                  },
                  "user_reference": {
                    "type": "integer",
                    "description": "Type of user_id: 1 - encrypted user id; 2 - employee id",
                    "default": 1,
                    "format": "int32"
                  },
                  "location_id": {
                    "type": "string",
                    "description": "Encrypted job location id or job location code"
                  },
                  "location_reference": {
                    "type": "integer",
                    "description": "Type of location_id: 1 - encrypted job location id; 2 - job location code",
                    "default": 1,
                    "format": "int32"
                  },
                  "group_ids": {
                    "type": "array",
                    "description": "List of encrypted group id",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \t\"success\": true,\n    \"location\": {\n      \t\"oid\": \"z7Nj6xa0rBM_iFOa0uMhXw\",\n        \"name\": \"Chicago\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "oid": {
                          "type": "string",
                          "example": "z7Nj6xa0rBM_iFOa0uMhXw"
                        },
                        "name": {
                          "type": "string",
                          "example": "Chicago"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/locations": {
      "post": {
        "summary": "Create a location",
        "description": "",
        "operationId": "create-a-location",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "state_code"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The location's name"
                  },
                  "addr_1": {
                    "type": "string",
                    "description": "The location's address 1"
                  },
                  "addr_2": {
                    "type": "string",
                    "description": "The location's address 2"
                  },
                  "city": {
                    "type": "string",
                    "description": "The location's city"
                  },
                  "zip_code": {
                    "type": "string",
                    "description": "The location's zip code"
                  },
                  "time_zone": {
                    "type": "string",
                    "description": "The location's time zone"
                  },
                  "email": {
                    "type": "string",
                    "description": "The location's email"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "The location's phone number"
                  },
                  "job_loc_code": {
                    "type": "string",
                    "description": "The location's job loc code (Only Company Administrators can edit job_loc_code)"
                  },
                  "state_code": {
                    "type": "string",
                    "description": "The location's state code"
                  },
                  "parent_id": {
                    "type": "string",
                    "description": "The location's parent id, the id of area which location belong to"
                  },
                  "custom_locations_attributes": {
                    "type": "string",
                    "description": "Dictionary location attribute data (Custom Attributes Char limit 255) Example: {\"key_name\": \"value\", \"key_name2\": \"value\"}",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"updated_at\": \"2022-05-20T15:13:11.020377Z\",\n    \"created_at\": \"2022-05-20T15:13:11.020365Z\",\n    \"name\": \"Northeast Office New\",\n    \"addr_1\": \"1 NH Ave\",\n    \"addr_2\": \"Suite 5\",\n    \"time_zone\": \"US/Arizona\",\n    \"job_loc_code\": \"\",\n    \"zip_code\": \"03821\",\n    \"latitude\": \"0E-7\",\n    \"longitude\": \"0E-7\",\n    \"status\": 1,\n    \"is_remote\": false,\n    \"oid\": \"2PFXIFJcp0yvt80I3TKTug\",\n    \"email\": \"neoffice1@company.com\",\n    \"phone_number\": \"+11800144356\",\n    \"parent_id\": 12468\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated_at": {
                      "type": "string",
                      "example": "2022-05-20T15:13:11.020377Z"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2022-05-20T15:13:11.020365Z"
                    },
                    "name": {
                      "type": "string",
                      "example": "Northeast Office New"
                    },
                    "addr_1": {
                      "type": "string",
                      "example": "1 NH Ave"
                    },
                    "addr_2": {
                      "type": "string",
                      "example": "Suite 5"
                    },
                    "time_zone": {
                      "type": "string",
                      "example": "US/Arizona"
                    },
                    "job_loc_code": {
                      "type": "string",
                      "example": ""
                    },
                    "zip_code": {
                      "type": "string",
                      "example": "03821"
                    },
                    "latitude": {
                      "type": "string",
                      "example": "0E-7"
                    },
                    "longitude": {
                      "type": "string",
                      "example": "0E-7"
                    },
                    "status": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "is_remote": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "oid": {
                      "type": "string",
                      "example": "2PFXIFJcp0yvt80I3TKTug"
                    },
                    "email": {
                      "type": "string",
                      "example": "neoffice1@company.com"
                    },
                    "phone_number": {
                      "type": "string",
                      "example": "+11800144356"
                    },
                    "parent_id": {
                      "type": "integer",
                      "example": 12468,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        {\n            \"code\": 1100,\n            \"message\": \"state_code is required.\",\n            \"field\": \"state_code\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "example": 1100,
                            "default": 0
                          },
                          "message": {
                            "type": "string",
                            "example": "state_code is required."
                          },
                          "field": {
                            "type": "string",
                            "example": "state_code"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Get Single Location by job_loc_code",
        "description": "",
        "operationId": "get-single-location-by-job_loc_code",
        "parameters": [
          {
            "name": "job_loc_code",
            "in": "query",
            "description": "The location's job_loc_code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer <oauth_token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"updated_at\": \"2010-06-27T23:54:24Z\",\n    \"created_at\": \"1988-12-18T13:51:38Z\",\n    \"name\": \"Location Test\",\n    \"addr_1\": \"\",\n    \"addr_2\": \"\",\n    \"time_zone\": \"US/Arizona\",\n    \"job_loc_code\": \"location1234\",\n    \"zip_code\": \"\",\n    \"latitude\": \"0E-7\",\n    \"longitude\": \"0E-7\",\n    \"status\": 1,\n    \"is_remote\": false,\n    \"oid\": \"eCoERXlRqeM8orrvCDjYyA\",\n    \"email\": \"\",\n    \"phone_number\": \"\",\n    \"parent_id\": \"bloyX2cJ5MdgbKGX-xxBUA\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated_at": {
                      "type": "string",
                      "example": "2010-06-27T23:54:24Z"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "1988-12-18T13:51:38Z"
                    },
                    "name": {
                      "type": "string",
                      "example": "Location Test"
                    },
                    "addr_1": {
                      "type": "string",
                      "example": ""
                    },
                    "addr_2": {
                      "type": "string",
                      "example": ""
                    },
                    "time_zone": {
                      "type": "string",
                      "example": "US/Arizona"
                    },
                    "job_loc_code": {
                      "type": "string",
                      "example": "location1234"
                    },
                    "zip_code": {
                      "type": "string",
                      "example": ""
                    },
                    "latitude": {
                      "type": "string",
                      "example": "0E-7"
                    },
                    "longitude": {
                      "type": "string",
                      "example": "0E-7"
                    },
                    "status": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "is_remote": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "oid": {
                      "type": "string",
                      "example": "eCoERXlRqeM8orrvCDjYyA"
                    },
                    "email": {
                      "type": "string",
                      "example": ""
                    },
                    "phone_number": {
                      "type": "string",
                      "example": ""
                    },
                    "parent_id": {
                      "type": "string",
                      "example": "bloyX2cJ5MdgbKGX-xxBUA"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [{\n        \"code\": 1005,\n        \"message\": \"fake_wrong_location1234 is not found.\",\n        \"field\": \"job_loc_code\"\n    }]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "example": 1005,
                            "default": 0
                          },
                          "message": {
                            "type": "string",
                            "example": "fake_wrong_location1234 is not found."
                          },
                          "field": {
                            "type": "string",
                            "example": "job_loc_code"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/rooms": {
      "post": {
        "summary": "Create a room",
        "description": "",
        "operationId": "create-a-room",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "location_id",
                  "seats"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "location_id": {
                    "type": "string",
                    "description": "Location OID of the location that the room is in."
                  },
                  "seats": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "cal_email": {
                    "type": "string",
                    "description": "At least one calendar must be active in the system for this field to function. The email domain is validated against the active calendars to prevent rogue domains from being added."
                  },
                  "room_ex_id": {
                    "type": "string",
                    "description": "A unique identifier for the room within a specific location. This value must be unique for the provided location_id. While the same ex_room_id can exist across different locations, it cannot be duplicated within the same location."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"name\": \"Test Room\",\n    \"seats\": 5,\n    \"cal_email\": \"\",\n    \"location_id\": \"fs7bWgTB34XYA8SQ9t1apw\",\n    \"room_ex_id\": \"test_room_1\",\n    \"oid\": \"7qm8xw7lkKLwPlbp5qHAMQ\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Test Room"
                    },
                    "seats": {
                      "type": "integer",
                      "example": 5,
                      "default": 0
                    },
                    "cal_email": {
                      "type": "string",
                      "example": ""
                    },
                    "location_id": {
                      "type": "string",
                      "example": "fs7bWgTB34XYA8SQ9t1apw"
                    },
                    "room_ex_id": {
                      "type": "string",
                      "example": "test_room_1"
                    },
                    "oid": {
                      "type": "string",
                      "example": "7qm8xw7lkKLwPlbp5qHAMQ"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        {\n            \"code\": 1102,\n            \"message\": \"name may not be empty.\",\n            \"field\": \"name\"\n        }\n    ]\n}"
                  },
                  "Missing Seats": {
                    "value": "{\n    \"errors\": [\n        {\n            \"code\": 1124,\n            \"message\": \"seats is not a valid integer.\",\n            \"field\": \"seats\"\n        }\n    ]\n}"
                  },
                  "Validate Email": {
                    "value": "{\n    \"errors\": [\n        {\n            \"code\": 400,\n            \"message\": \"This email isn't valid for any of []\",\n            \"field\": \"cal_email\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "integer",
                                "example": 1102,
                                "default": 0
                              },
                              "message": {
                                "type": "string",
                                "example": "name may not be empty."
                              },
                              "field": {
                                "type": "string",
                                "example": "name"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Missing Seats",
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "integer",
                                "example": 1124,
                                "default": 0
                              },
                              "message": {
                                "type": "string",
                                "example": "seats is not a valid integer."
                              },
                              "field": {
                                "type": "string",
                                "example": "seats"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Validate Email",
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "integer",
                                "example": 400,
                                "default": 0
                              },
                              "message": {
                                "type": "string",
                                "example": "This email isn't valid for any of []"
                              },
                              "field": {
                                "type": "string",
                                "example": "cal_email"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/areas": {
      "post": {
        "summary": "Create an area",
        "description": "",
        "operationId": "create-an-area",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer <oauth_token>"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "parent_id": {
                    "type": "string",
                    "description": "The area's parent id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The area's name"
                  },
                  "external_area_id": {
                    "type": "string",
                    "description": "The area's external area id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"updated_at\": \"2022-05-25T06:57:22.571873Z\",\n    \"created_at\": \"2022-05-25T06:57:22.571855Z\",\n    \"oid\": \"vN7QS73-sYrbtHvp_GkALw\",\n    \"parent_id\": \"xwG04SJJ-1WELfu176q9bg\",\n    \"name\": \"Da Nang\",\n    \"external_area_id\": \"\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated_at": {
                      "type": "string",
                      "example": "2022-05-25T06:57:22.571873Z"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2022-05-25T06:57:22.571855Z"
                    },
                    "oid": {
                      "type": "string",
                      "example": "vN7QS73-sYrbtHvp_GkALw"
                    },
                    "parent_id": {
                      "type": "string",
                      "example": "xwG04SJJ-1WELfu176q9bg"
                    },
                    "name": {
                      "type": "string",
                      "example": "Da Nang"
                    },
                    "external_area_id": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Get Area List",
        "description": "Get the list of areas in the company",
        "operationId": "get-area-list",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer <oauth_token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n    {\n        \"updated_at\": \"2022-05-25T06:57:22.571873Z\",\n        \"created_at\": \"2022-05-25T06:57:22.571855Z\",\n        \"oid\": \"vN7QS73-sYrbtHvp_GkALw\",\n        \"parent_id\": \"xwG04SJJ-1WELfu176q9bg\",\n        \"name\": \"Da Nang\",\n        \"external_area_id\": \"\"\n    }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "updated_at": {
                        "type": "string",
                        "example": "2022-05-25T06:57:22.571873Z"
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2022-05-25T06:57:22.571855Z"
                      },
                      "oid": {
                        "type": "string",
                        "example": "vN7QS73-sYrbtHvp_GkALw"
                      },
                      "parent_id": {
                        "type": "string",
                        "example": "xwG04SJJ-1WELfu176q9bg"
                      },
                      "name": {
                        "type": "string",
                        "example": "Da Nang"
                      },
                      "external_area_id": {
                        "type": "string",
                        "example": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/candidates": {
      "post": {
        "summary": "Create Candidate",
        "description": "Create a new candidate",
        "operationId": "create-candidate",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer <oauth_token>"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone",
                  "email",
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of the candidate (Char limit 50)"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name of the candidate (Required only if field name is missing)\n(Combined Char Limit of 50 with Last Name)"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name of the candidate (Required only if field name is missing)\n(Combined Char Limit of 50 with First Name)"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone number of the candidate (It will required if Email is not inputted) Country Code is required. (Char limit 20)"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the candidate (It will required if Phone is not inputted) (Char limit 50)"
                  },
                  "ex_id": {
                    "type": "string",
                    "description": "External Candidate ID (Char limit 255)"
                  },
                  "hirevue_link": {
                    "type": "string",
                    "description": "HireVue link to do virtual interviews (Char limit 255)"
                  },
                  "pymetrics_link": {
                    "type": "string",
                    "description": "Pymetrics link to do virtual interviews (Char limit 255)"
                  },
                  "ex_step": {
                    "type": "string",
                    "description": "External Candidate Step (Char Limit None)"
                  },
                  "ex_status": {
                    "type": "string",
                    "description": "External Candidate Status (Char Limit None)"
                  },
                  "ex_reason": {
                    "type": "string",
                    "description": "External Candidate Reason (Char Limit None)"
                  },
                  "job_req_id": {
                    "type": "string",
                    "description": "Job Req ID (Char limit 255)"
                  },
                  "job_title": {
                    "type": "string",
                    "description": "Job title (Char limit 255)"
                  },
                  "job_loc_code": {
                    "type": "string",
                    "description": "Location code of job. (max length : 20)"
                  },
                  "primary_contact_method": {
                    "type": "string",
                    "description": "1 = Email, 2 = SMS, 3 = Email & SMS, 4 = WhatsApp & Email, 5 = Whatsapp. Default = Email & SMS"
                  },
                  "hired_date": {
                    "type": "string",
                    "description": "Hired date time",
                    "format": "date-time"
                  },
                  "adp_link": {
                    "type": "string",
                    "description": "Adp link (Char limit 255)"
                  },
                  "audience_type": {
                    "type": "string",
                    "description": "Blue Collar|White Collar|Blue Collar & White Collar (Char limit 255)"
                  },
                  "hm_cid": {
                    "type": "string",
                    "description": "Hirescore candidate ID (Char limit 255)"
                  },
                  "external_group_id": {
                    "type": "string",
                    "description": "External Group ID (Char Limit None)"
                  },
                  "hirevue_instructions": {
                    "type": "string",
                    "description": "HireVue instructions for virtual interviews (Char limit 255)"
                  },
                  "referrer_email": {
                    "type": "string",
                    "description": "Referrer's Email (Char limit 50)"
                  },
                  "referrer_name": {
                    "type": "string",
                    "description": "Referrer's Name (Char limit 50)"
                  },
                  "recruiter_email": {
                    "type": "string",
                    "description": "The candidate's assigned recruiter"
                  },
                  "hiring_manager": {
                    "type": "string",
                    "description": "\"hiring_email\" functions the same. The candidates assigned Hiring Manager"
                  },
                  "external_referrer": {
                    "type": "string",
                    "description": "External referrer (Char limit 1000)"
                  },
                  "language_preference": {
                    "type": "string",
                    "description": "See the language codes page for a full list of accepted values: https://readme.paradox.ai/reference/language-codes",
                    "default": "en"
                  },
                  "candidatedata": {
                    "type": "string",
                    "description": "Report file for do bulk create/update candidates",
                    "format": "binary"
                  },
                  "consent_to_marketing": {
                    "type": "string",
                    "description": "The candidate's consent to marketing"
                  },
                  "resume": {
                    "type": "string",
                    "description": "Binary/Base64 String Resume file (.pdf, .doc', .docx, .png, .jpg', .txt') (Must be <10mb)"
                  },
                  "candidate_journey": {
                    "type": "string",
                    "description": "Candidate journey name (Char limit None)"
                  },
                  "candidate_journey_status": {
                    "type": "string",
                    "description": "Candidate journey status ( {Candidate_journey_stage_name}: {Candidate_journey_status_name} (Char limit None)"
                  },
                  "candidate_attribute_data": {
                    "type": "string",
                    "description": "Dictionary candidate attribute data (Custom Attributes Char limit 255) Example: {\"key_name\": \"value\", \"key_name2\": \"value\"}",
                    "format": "json"
                  },
                  "note": {
                    "type": "string",
                    "description": "Candidate's note (Char limit None)"
                  },
                  "job_application_id": {
                    "type": "string",
                    "description": "Job Application id (Char limit 255)"
                  },
                  "use_application_id_for_identity": {
                    "type": "boolean",
                    "description": "To identify Returning Candidates",
                    "default": false
                  },
                  "candidate_location_info": {
                    "type": "string",
                    "description": "The candidate's location (Char limit 100)"
                  },
                  "external_source_id": {
                    "type": "string",
                    "description": "The candidate's external_source_id (Char limit 255)"
                  },
                  "offer_letter": {
                    "type": "string",
                    "description": "Binary/Base64 String Offer file (.doc, .docx, .pdf, .png, .jpg, .jpeg, .txt, .pages, .HTML) (Payload >10mb)"
                  },
                  "offer_file_name": {
                    "type": "string",
                    "description": "Offer file name (Char limit 150)"
                  },
                  "use_paradox_status_map": {
                    "type": "boolean",
                    "description": "To identify the use of status_map_name and status_map_ex_id",
                    "default": false
                  },
                  "status_map_name": {
                    "type": "string",
                    "description": "Name of the Journey Status Mapping in Paradox. Required when use_paradox_status_map is true"
                  },
                  "status_map_ex_id": {
                    "type": "string",
                    "description": "Name of the status in the external system. The ID that is associated with a specific Journey Status in Paradox"
                  },
                  "talent_community": {
                    "type": "boolean",
                    "description": "Candidate to be added to Paradox Talent Community.",
                    "default": false
                  },
                  "community_of_interest": {
                    "type": "integer",
                    "description": "when talent_community is true, specify which community to add them to.",
                    "format": "int32"
                  },
                  "skip_send_opt_in": {
                    "type": "boolean",
                    "description": "Only for CRM and when sending talent_community as true"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"candidate\": {\n      \t\"adp_link\": \"\",\n        \"pymetrics_link\": \"\",\n        \"hirevue_link\": \"Review - Position Cancelled\",\n        \"OID\": 72036854778259,\n        \"ex_status\": \"Review - Position Cancelled\",\n        \"audience_type\": \"Blue Collar Candidate\",  \n        \"job_req_id\": \"\",\n        \"job_title\": \"\",\n        \"phone\": \"+1917******\",\n        \"hired_date\": null,\n        \"email\": \"shivina***@gmail.com\",\n        \"name\": \"Sneha Hien\",\n        \"primary_contact_method\": 1,\n        \"hirevue_instructions\": \"To learn more about us, visit our career site...\",\n        \"referrer_email\": \"employee@paradox.ai\",\n        \"referrer_name\": \"Employee Name\",\n        \"external_oid\": \"gAAAAABeFa28oC6P9fuqzBZxQ\",\n\t\t\t\t\"external_referrer\": \"\",\n        \"language_preference\": \"en\"\n    },\n    \"success\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "candidate": {
                      "type": "object",
                      "properties": {
                        "adp_link": {
                          "type": "string",
                          "example": ""
                        },
                        "pymetrics_link": {
                          "type": "string",
                          "example": ""
                        },
                        "hirevue_link": {
                          "type": "string",
                          "example": "Review - Position Cancelled"
                        },
                        "OID": {
                          "type": "integer",
                          "example": 72036854778259,
                          "default": 0
                        },
                        "ex_status": {
                          "type": "string",
                          "example": "Review - Position Cancelled"
                        },
                        "audience_type": {
                          "type": "string",
                          "example": "Blue Collar Candidate"
                        },
                        "job_req_id": {
                          "type": "string",
                          "example": ""
                        },
                        "job_title": {
                          "type": "string",
                          "example": ""
                        },
                        "phone": {
                          "type": "string",
                          "example": "+1917******"
                        },
                        "hired_date": {},
                        "email": {
                          "type": "string",
                          "example": "shivina***@gmail.com"
                        },
                        "name": {
                          "type": "string",
                          "example": "Sneha Hien"
                        },
                        "primary_contact_method": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "hirevue_instructions": {
                          "type": "string",
                          "example": "To learn more about us, visit our career site..."
                        },
                        "referrer_email": {
                          "type": "string",
                          "example": "employee@paradox.ai"
                        },
                        "referrer_name": {
                          "type": "string",
                          "example": "Employee Name"
                        },
                        "external_oid": {
                          "type": "string",
                          "example": "gAAAAABeFa28oC6P9fuqzBZxQ"
                        },
                        "external_referrer": {
                          "type": "string",
                          "example": ""
                        },
                        "language_preference": {
                          "type": "string",
                          "example": "en"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      },
      "get": {
        "summary": "Get Candidates",
        "description": "Get all company candidates",
        "operationId": "get-candidates",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Accepts epoch time or datetime (YYYY-MM-DDTHH:MM:SS)"
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Accepts epoch time or datetime (YYYY-MM-DDTHH:MM:SS)"
          },
          {
            "name": "start_keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of candidate return. (Should less than 50 to test)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "group_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "conversation",
            "in": "query",
            "description": "Include candidate's conversation",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer <oauth_token>"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "interviews",
            "in": "query",
            "description": "Set 1 to get Interview Information",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "note",
            "in": "query",
            "description": "Include candidate's note",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "profile_id",
            "in": "query",
            "description": "The candidate's profile id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_attributes",
            "in": "query",
            "description": "Include Attributes: Yes/No",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "candidate_journey_status",
            "in": "query",
            "description": "Stage: Status (example: Capture: Capture Complete)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_start_date",
            "in": "query",
            "description": "filter candidates to a specific date. Format: YYYY-MM-DD",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            },
            "description": "pagination"
          },
          {
            "in": "query",
            "name": "job_loc_code",
            "schema": {
              "type": "string"
            },
            "description": "Filter by job location code"
          },
          {
            "in": "query",
            "name": "job_req_id",
            "schema": {
              "type": "string"
            },
            "description": "Filter by external job request ID or internal job request ID"
          },
          {
            "in": "query",
            "name": "ex_id",
            "schema": {
              "type": "string"
            },
            "description": "Filter by ex_id_1 (3rd party Identifiers)"
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "description": "Email address of the candidate. The value must be ASCII-encoded, and special characters (such as '+') must be percent-encoded. For example: \"thang.nguyen+cem@paradox.ai\" \u2192 \"thang.nguyen%2Bcem@paradox.ai\""
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"limit\": 50,\n    \"count\": 1396,\n    \"offset\": 0,\n    \"candidates\": [\n        {\n            \"candidate\": {\n                \"pymetrics_link\": \"\",\n                \"hirevue_link\": \"Review - Position Cancelled\",\n                \"hirevue_instructions\": \"To learn more about us, visit our career site...\",\n                \"OID\": 72036854778259,\n                \"ex_status\": \"Review - Position Cancelled\",\n                \"job_req_id\": \"\",\n                \"phone\": \"+1917******\",\n                \"hired_date\": null,\n                \"email\": \"shivina***@gmail.com\",\n                \"name\": \"Sneha Hien\",\n                \"primary_contact_method\": 1,\n                \"referrer_email\": \"employee@paradox.ai\",\n                \"referrer_name\": \"Employee Name\",\n                \"external_oid\": \"gAAAAABeFa28oC6P9fuqzBZxQ\",\n              \t\"external_referrer\": \"\",\n                \"language_preference\": \"en\"\n            },\n            \"stage\": {\n                \"completed\": 1,\n                \"is_live\": 0,\n                \"status\": 2,\n                \"responded\": 0,\n                \"viewed\": 0,\n                \"interview_stage\": 2\n            }\n          \"conversation\": [\n              {\n                \"updated_at\": \"2019-03-04T02:56:55.126349Z\",\n                \"question_text\": \"Thank you. What is your email address?\",\n                \"from_who\": 0,\n                \"message_type\": 1,\n                \"created_at\": \"2019-03-04T02:56:43.743533Z\",\n                \"media_url\": \"\",\n                \"answer_text\": \"olivia@paradox.ai\"\n              }\n          ]\n        },\n        ...... \n    ]\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/reporting/reports": {
      "post": {
        "summary": "Create Report",
        "description": "Create a report with parameters to generate a link to data file",
        "operationId": "create-report",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer <oauth_token>"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "callbackUrl"
                ],
                "properties": {
                  "callbackUrl": {
                    "type": "string",
                    "description": "Callback URL to define the url to be invoked once the API being called is complete (the report is finished running)"
                  },
                  "report": {
                    "type": "string",
                    "description": "The report name that be ran as part of this call (e.g. CAPTURE_CANDIDATE_SPECIFIC)"
                  },
                  "from_date": {
                    "type": "string",
                    "description": "The starting date for the report's date filter (YYYY-MM-DD)",
                    "format": "date"
                  },
                  "to_date": {
                    "type": "string",
                    "description": "The ending date for the report's date range (YYYY-MM-DD)",
                    "format": "date"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "callbackUrl": "http://my.server.com/bar",
                    "report": "CAPTURE_CANDIDATE_SPECIFIC",
                    "from_date": "2020-03-01",
                    "to_date": "2021-03-02"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"OhE2O5vxqrsV6-f2hAUjL1\",\n    \"status\": \"create\",\n    \"callbackUrl\": \"http://my.server.com/bar\",\n    \"url\": \"\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "OhE2O5vxqrsV6-f2hAUjL1"
                    },
                    "status": {
                      "type": "string",
                      "example": "create"
                    },
                    "callbackUrl": {
                      "type": "string",
                      "example": "http://my.server.com/bar"
                    },
                    "url": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Get Report List",
        "description": "Get all report details",
        "operationId": "get-report-list",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer <oauth_token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"CAPTURE_COMPANY_OVERVIEW\": {\n        \"description\": \"Detailed candidate counts by conversation.\",\n        \"available_fields\": [\n            \"conversation_name\",\n            \"live_date\",\n            \"new_lead\",\n            \"aged\",\n            \"total\",\n            \"inbox\",\n            \"liked\",\n            \"archieved\",\n            \"spam\",\n            \"message_sent_by_recruiter\",\n            \"incomplete\",\n            \"candidate_responsed\",\n            \"candidate_scheduled\"\n        ],\n        \"can_filter\": false\n    },\n    \"GROUP\": {\n        \"description\": \"Detailed candidate counts by group.\",\n        \"available_fields\": [\n            \"group_name\",\n            \"conversation_name\",\n            \"weekly_count\",\n            \"ytd_count\",\n            \"launch_date_count\",\n            \"candidate_count_in_range\"\n        ],\n        \"can_filter\": true\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "CAPTURE_COMPANY_OVERVIEW": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string",
                          "example": "Detailed candidate counts by conversation."
                        },
                        "available_fields": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "conversation_name"
                          }
                        },
                        "can_filter": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    },
                    "GROUP": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string",
                          "example": "Detailed candidate counts by group."
                        },
                        "available_fields": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "group_name"
                          }
                        },
                        "can_filter": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url 'https://api.paradox.ai/api/v1/public/reporting/reports' \\\n  --header 'authorization: jwt <account_id>:<jwt_token>'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/users": {
      "post": {
        "summary": "Create User",
        "description": "Create a new user",
        "operationId": "create-users",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <oauth_token>"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone_number",
                  "name",
                  "email"
                ],
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "description": "Phone number of the user"
                  },
                  "name": {
                    "type": "string",
                    "description": "Full name of the user"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the user"
                  },
                  "login_email": {
                    "type": "string",
                    "description": "The email address used for logging into Paradox. Must be unique across all users. If not provided on creation, it is automatically derived from email"
                  },
                  "role": {
                    "type": "integer",
                    "description": "The role id of the user",
                    "format": "int32"
                  },
                  "user_type": {
                    "type": "integer",
                    "description": "The user type id of user (Full: 0, Basic: 1)",
                    "format": "int32"
                  },
                  "prod_access_levels": {
                    "type": "array",
                    "description": "The list of id of Product Access (Candidate Experience Manager: 1 and/or Student Experience Manager: 2). Example: [1,2]",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "timezone": {
                    "type": "string",
                    "description": "The timezone string that references at <a href=\"https://en.wikipedia.org/wiki/List_of_tz_database_time_zones\" target=\"_blank\">List of tz database time zones</a>"
                  },
                  "language_preference": {
                    "type": "string",
                    "description": "See the language codes page for a full list of accepted values: https://readme.paradox.ai/reference/language-codes",
                    "default": "en"
                  },
                  "campus_permissions": {
                    "type": "array",
                    "description": "List of school area id and access type to add campus permission",
                    "items": {
                      "properties": {
                        "school_area_id": {
                          "type": "string",
                          "description": "Encrypted school area id"
                        },
                        "access_type": {
                          "type": "string",
                          "description": "Access type: viewer, approver, viewer_approver"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "campus_entitlements": {
                    "type": "array",
                    "description": "List of entitlements with the value and assign campus permissions(if not use campus_permissions param)",
                    "items": {
                      "type": "string"
                    }
                  },
                  "employee_id": {
                    "type": "string",
                    "description": "The user\u2019s external employee id. If included, this cannot be blank, nor can it match any other employee-id for a user in this company."
                  },
                  "job_title": {
                    "type": "string",
                    "description": "The job\u2019s title"
                  },
                  "location_ids": {
                    "type": "array",
                    "description": "An array of location OIDs which can be grabbed from [Get Locations](https://readme.paradox.ai/reference/get-company-locations)",
                    "items": {
                      "type": "string"
                    }
                  },
                  "country_code": {
                    "type": "string",
                    "description": "The user's country code, which followed by <a href=\"https://en.wikipedia.org/wiki/ISO_3166-2#Current_codes\" target=\"_blank\">ISO 3166-2</a>"
                  },
                  "area_ids": {
                    "type": "array",
                    "description": "An array of external area ID of area which be configured in UI",
                    "items": {
                      "type": "string"
                    }
                  },
                  "location_codes": {
                    "type": "array",
                    "description": "An array of location external codes",
                    "items": {
                      "type": "string"
                    }
                  },
                  "external_role_id": {
                    "type": "string",
                    "description": "Custom user role id"
                  }
                }
              },
              "examples": {
                "JSON campus_permissions": {
                  "value": {
                    "name": "Full Name",
                    "email": "user@domain.com",
                    "role": 1,
                    "user_type": 1,
                    "prod_access_levels": [
                      1
                    ],
                    "timezone": "US/Arizona",
                    "language_preference": "en",
                    "campus_permissions": [
                      {
                        "school_area_id": "s7QHk54orXr91IA_o3iswg",
                        "access_type": "viewer"
                      },
                      {
                        "school_area_id": "k54ordsXr91IA12ffsFdde",
                        "access_type": "approver"
                      },
                      {
                        "school_area_id": "orXr9o3iswg1IA_3ffmmve",
                        "access_type": "viewer_approver"
                      }
                    ]
                  }
                },
                "JSON campus_entitlements": {
                  "value": {
                    "name": "Full Name",
                    "email": "user@domain.com",
                    "role": 1,
                    "user_type": 1,
                    "prod_access_levels": [
                      1
                    ],
                    "timezone": "US/Arizona",
                    "language_preference": "en",
                    "campus_entitlements": [
                      "TA_Paradox__viewer_approver__US-area__QsuIOzux_RslIxSnCTEq5Q",
                      "TA_Paradox__viewer__US-School__ouYPTWPSI5vPwjUpYnoIHw",
                      "TA_Paradox__approver__UK-area__h_n0TmM84IkAKX1lZ8Fz-A"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "campus_permissions": {
                    "value": "{\n    \"success\": true,\n    \"user\": {\n        \"phone_number\": null,\n        \"user_email\": \"user@domain.com\",\n        \"company_id\": 137,\n        \"OID\": 11185,\n        \"full_name\": \"Full Name\",\n        \"formatted_number\": \"\",\n        \"role_id\": 1,\n        \"type_id\": 1,\n        \"product_access_levels_ids\": [\n            1,\n            2\n        ],\n        \"time_zone_string_id\": \"US/Arizona\",\n        \"language_preference\": \"en\",\n        \"campus_permissions_viewer\": [\n            {\n                \"oid\": \"QsuIOzux_RslIxSnCTEq5Q\",\n                \"name\": \"US area\",\n                \"type\": 1\n            },\n            {\n                \"oid\": \"ouYPTWPSI5vPwjUpYnoIHw\",\n                \"name\": \"US School\",\n                \"type\": 2\n            }\n        ],\n        \"campus_permissions_approver\": [\n            {\n                \"oid\": \"QsuIOzux_RslIxSnCTEq5Q\",\n                \"name\": \"US area\",\n                \"type\": 1\n            },\n            {\n                \"oid\": \"h_n0TmM84IkAKX1lZ8Fz-A\",\n                \"name\": \"UK area\",\n                \"type\": 1\n            }\n        ],\n        \"campus_entitlements\": [\n            \"TA_Paradox__viewer_approver__US-area__QsuIOzux_RslIxSnCTEq5Q\",\n            \"TA_Paradox__viewer__US-School__ouYPTWPSI5vPwjUpYnoIHw\",\n            \"TA_Paradox__approver__UK-area__h_n0TmM84IkAKX1lZ8Fz-A\"\n        ]\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "phone_number": {},
                        "user_email": {
                          "type": "string",
                          "example": "user@domain.com"
                        },
                        "company_id": {
                          "type": "integer",
                          "example": 137,
                          "default": 0
                        },
                        "OID": {
                          "type": "integer",
                          "example": 11185,
                          "default": 0
                        },
                        "full_name": {
                          "type": "string",
                          "example": "Full Name"
                        },
                        "formatted_number": {
                          "type": "string",
                          "example": ""
                        },
                        "role_id": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "type_id": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "product_access_levels_ids": {
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          }
                        },
                        "time_zone_string_id": {
                          "type": "string",
                          "example": "US/Arizona"
                        },
                        "language_preference": {
                          "type": "string",
                          "example": "en"
                        },
                        "campus_permissions_viewer": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "oid": {
                                "type": "string",
                                "example": "QsuIOzux_RslIxSnCTEq5Q"
                              },
                              "name": {
                                "type": "string",
                                "example": "US area"
                              },
                              "type": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              }
                            }
                          }
                        },
                        "campus_permissions_approver": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "oid": {
                                "type": "string",
                                "example": "QsuIOzux_RslIxSnCTEq5Q"
                              },
                              "name": {
                                "type": "string",
                                "example": "US area"
                              },
                              "type": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              }
                            }
                          }
                        },
                        "campus_entitlements": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "TA_Paradox__viewer_approver__US-area__QsuIOzux_RslIxSnCTEq5Q"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/users/{OID}/deactivate": {
      "post": {
        "summary": "Deactivate User",
        "description": "Deactivate user by OID",
        "operationId": "deactivate-user",
        "parameters": [
          {
            "name": "OID",
            "in": "path",
            "description": "User id or ex_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer <oauth_token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/locations/{ID}/deactivate": {
      "post": {
        "summary": "Deactivate a location",
        "description": "Deactivate a location without hard deleting it from the account. Deactivated locations no longer accept new applicants",
        "operationId": "delete-a-location-1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer <oauth_token>"
            }
          },
          {
            "in": "path",
            "name": "ID",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Accepts either the job_loc_code or the internal OID"
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/locations/{OID}": {
      "delete": {
        "summary": "Delete a location",
        "description": "This endpoint is deprecated as Deletion has been replaced by Deactivation",
        "operationId": "delete-a-location",
        "parameters": [
          {
            "name": "OID",
            "in": "path",
            "description": "The location's external oid",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer <oauth_token>"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Get Single Location",
        "description": "Get a location by Location's OID",
        "operationId": "get-single-location",
        "parameters": [
          {
            "name": "OID",
            "in": "path",
            "description": "The location's external oid",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer <oauth_token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"updated_at\": \"2022-04-29T08:24:53.089275Z\",\n    \"created_at\": \"2022-04-29T07:45:36.794483Z\",\n    \"name\": \"Northeast Office New 4\",\n    \"addr_1\": \"1 NH Ave\",\n    \"addr_2\": \"Suite 5\",\n    \"time_zone\": \"US/Arizona\",\n    \"job_loc_code\": \"\",\n    \"zip_code\": \"03821\",\n    \"latitude\": \"0E-7\",\n    \"longitude\": \"0E-7\",\n    \"status\": 1,\n    \"is_remote\": false,\n    \"oid\": \"ez8scpL0joQJR0-NKc8SnA\",\n    \"email\": \"neoffice+111@company.com\",\n    \"phone_number\": \"1800144444\",\n    \"parent_id\": 12473\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated_at": {
                      "type": "string",
                      "example": "2022-04-29T08:24:53.089275Z"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2022-04-29T07:45:36.794483Z"
                    },
                    "name": {
                      "type": "string",
                      "example": "Northeast Office New 4"
                    },
                    "addr_1": {
                      "type": "string",
                      "example": "1 NH Ave"
                    },
                    "addr_2": {
                      "type": "string",
                      "example": "Suite 5"
                    },
                    "time_zone": {
                      "type": "string",
                      "example": "US/Arizona"
                    },
                    "job_loc_code": {
                      "type": "string",
                      "example": ""
                    },
                    "zip_code": {
                      "type": "string",
                      "example": "03821"
                    },
                    "latitude": {
                      "type": "string",
                      "example": "0E-7"
                    },
                    "longitude": {
                      "type": "string",
                      "example": "0E-7"
                    },
                    "status": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "is_remote": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "oid": {
                      "type": "string",
                      "example": "ez8scpL0joQJR0-NKc8SnA"
                    },
                    "email": {
                      "type": "string",
                      "example": "neoffice+111@company.com"
                    },
                    "phone_number": {
                      "type": "string",
                      "example": "1800144444"
                    },
                    "parent_id": {
                      "type": "integer",
                      "example": 12473,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        {\n            \"code\": 1005,\n            \"message\": \"ez8scpL0joQJR0-NKc8SnA is not found.\",\n            \"field\": \"OID\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "example": 1005,
                            "default": 0
                          },
                          "message": {
                            "type": "string",
                            "example": "ez8scpL0joQJR0-NKc8SnA is not found."
                          },
                          "field": {
                            "type": "string",
                            "example": "OID"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update a location",
        "description": "",
        "operationId": "update-a-location",
        "parameters": [
          {
            "name": "OID",
            "in": "path",
            "description": "The location's external oid",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer <oauth_token>"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The location's name"
                  },
                  "addr_1": {
                    "type": "string",
                    "description": "The location's address 1"
                  },
                  "addr_2": {
                    "type": "string",
                    "description": "The location's address 2"
                  },
                  "city": {
                    "type": "string",
                    "description": "The location's city"
                  },
                  "zip_code": {
                    "type": "string",
                    "description": "The location's zip code"
                  },
                  "time_zone": {
                    "type": "string",
                    "description": "The location's time zone"
                  },
                  "email": {
                    "type": "string",
                    "description": "The location's email"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "The location's phone number"
                  },
                  "job_loc_code": {
                    "type": "string",
                    "description": "The location's job loc code, required admin or company's staff to perform this value"
                  },
                  "state_code": {
                    "type": "string",
                    "description": "The location's state code"
                  },
                  "parent_id": {
                    "type": "string",
                    "description": "The location's parent id, the id of area which location belong to"
                  },
                  "custom_locations_attributes": {
                    "type": "string",
                    "description": "Dictionary location attribute data (Custom Attributes Char limit 255) Example: {\"key_name\": \"value\", \"key_name2\": \"value\"}",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"updated_at\": \"2022-05-20T15:21:37.423017Z\",\n    \"created_at\": \"2022-05-20T15:21:26.726349Z\",\n    \"name\": \"Northeast Office New 4\",\n    \"addr_1\": \"1 NH Avec\",\n    \"addr_2\": \"Suite 5\",\n    \"time_zone\": \"US/Arizona\",\n    \"job_loc_code\": \"\",\n    \"zip_code\": \"03821\",\n    \"latitude\": \"0E-7\",\n    \"longitude\": \"0E-7\",\n    \"status\": 1,\n    \"is_remote\": false,\n    \"oid\": \"HAipqGSbhTH2d1CNUtS_Vw\",\n    \"email\": \"neoffice+111@company.com\",\n    \"phone_number\": \"+11800144444\",\n    \"parent_id\": 12468\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated_at": {
                      "type": "string",
                      "example": "2022-05-20T15:21:37.423017Z"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2022-05-20T15:21:26.726349Z"
                    },
                    "name": {
                      "type": "string",
                      "example": "Northeast Office New 4"
                    },
                    "addr_1": {
                      "type": "string",
                      "example": "1 NH Avec"
                    },
                    "addr_2": {
                      "type": "string",
                      "example": "Suite 5"
                    },
                    "time_zone": {
                      "type": "string",
                      "example": "US/Arizona"
                    },
                    "job_loc_code": {
                      "type": "string",
                      "example": ""
                    },
                    "zip_code": {
                      "type": "string",
                      "example": "03821"
                    },
                    "latitude": {
                      "type": "string",
                      "example": "0E-7"
                    },
                    "longitude": {
                      "type": "string",
                      "example": "0E-7"
                    },
                    "status": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "is_remote": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "oid": {
                      "type": "string",
                      "example": "HAipqGSbhTH2d1CNUtS_Vw"
                    },
                    "email": {
                      "type": "string",
                      "example": "neoffice+111@company.com"
                    },
                    "phone_number": {
                      "type": "string",
                      "example": "+11800144444"
                    },
                    "parent_id": {
                      "type": "integer",
                      "example": 12468,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        {\n            \"code\": 1100,\n            \"message\": \"state_code is required.\",\n            \"field\": \"state_code\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "example": 1100,
                            "default": 0
                          },
                          "message": {
                            "type": "string",
                            "example": "state_code is required."
                          },
                          "field": {
                            "type": "string",
                            "example": "state_code"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/rooms/{room_id}": {
      "delete": {
        "summary": "Delete a room",
        "description": "",
        "operationId": "delete-a-room",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        {\n            \"code\": 1005,\n            \"message\": \"None is not found.\",\n            \"field\": \"OID\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "example": 1005,
                            "default": 0
                          },
                          "message": {
                            "type": "string",
                            "example": "None is not found."
                          },
                          "field": {
                            "type": "string",
                            "example": "OID"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Get Single Room",
        "description": "",
        "operationId": "get-single-room",
        "parameters": [
          {
            "name": "room_id",
            "in": "path",
            "description": "Room OID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"name\": \"Test Room\",\n    \"seats\": 5,\n    \"cal_email\": \"\",\n    \"location_id\": \"fs7bWgTB34XYA8SQ9t1apw\",\n    \"room_ex_id\": \"test_room_1\",\n    \"oid\": \"7qm8xw7lkKLwPlbp5qHAMQ\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Test Room"
                    },
                    "seats": {
                      "type": "integer",
                      "example": 5,
                      "default": 0
                    },
                    "cal_email": {
                      "type": "string",
                      "example": ""
                    },
                    "location_id": {
                      "type": "string",
                      "example": "fs7bWgTB34XYA8SQ9t1apw"
                    },
                    "room_ex_id": {
                      "type": "string",
                      "example": "test_room_1"
                    },
                    "oid": {
                      "type": "string",
                      "example": "7qm8xw7lkKLwPlbp5qHAMQ"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        {\n            \"code\": 1005,\n            \"message\": \"2bRglTp9pYJiLpW4KHEV2A is not found.\",\n            \"field\": \"OID\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "example": 1005,
                            "default": 0
                          },
                          "message": {
                            "type": "string",
                            "example": "2bRglTp9pYJiLpW4KHEV2A is not found."
                          },
[...]
